__*
.DS_Store
.env
.env.production
.eslintcache
.react-email
.sentryclirc
.stylelintcache
.vercel
*.local
/.cache
/build
/coverage-ts
/node_modules
/prisma/docs
/public/build
tsconfig.tsbuildinfo
.vscode
/.vscode
/.vscode/
.vscode/
.vscode
/python
python/
python
/python/
.lightning_studio
/.lightning_studio
/.lightning_studio/
.lightning_studio/
.pnpm-store
/.pnpm-store
.pnpm-store/
/.pnpm-store/
this_studio.iml
/.idea
.vscode/
/.vscode
